body{


  background-color: #ece5c755;
}
.PreViewContainer
{
  
  /* border: 1px solid red; */
  /* background-color: #ece5c755; */
  background-color: #c2ded155;
  
  padding: 1rem 1rem;
  margin:auto;
  border-radius: 30px;
border-shadow: 1px 2px 1px black;
  width: 50%;

}
